.content{
    min-height: 100vh;

    main{
        padding: 100px 0;

        .page-header{
            margin-bottom: $grid-gutter;
        }
    }
}

.home{
    .content main{
        padding: 0; 
    }

    h2{
        text-align: center;
        color: theme-color(gold);
        margin-bottom: $grid-gutter;
    }

    #top{
        min-height: 100vh;
        background-color: theme-color(blue);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(44,159,226,1) 100%);
        color: theme-color(white);
        position: relative;
        overflow: hidden;
        z-index: 99;

        img{
            width: 700px;
            height: 290px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .gradient-circle{
            position: absolute;
            top: 20%;
            right: 10%;
            opacity: .7;

            @include media-breakpoint-up(md){
                top: 25%;
            }
        }
        
        .gradient-circle-white{
            position: absolute;
            bottom: 0%;
            left: 0%;
            opacity: .6;
        }
    }

    #intro{
        padding: 200px 0 0;
        text-align: center;
        font-size: 1.5em;
        color: theme-color(blue);
        position: relative;
        overflow: hidden;

        .gradient-circle-white{
            position: absolute;
            left: 10%;
        }

        @include media-breakpoint-up(md){
            font-size: 2.5em;
        }
    }

    #content{
        p{
            max-width: 800px;
            margin: 0 auto 20px;
        }
    }

    #episodes{
        .episode-block{
            margin-bottom: $grid-gutter;

            .thumbnail{
                margin-bottom: 20px;
            }

            a{
                transition: .25s;

                i{
                    margin-right: 10px;
                }

                &:hover{
                    text-decoration: none;
                    color: theme-color(blue);
                }
            }

            @include media-breakpoint-up(md){
                margin-bottom: 0;
            }
        }
    }

    .gradient-circle{
        width: 50%;
        padding-top: 50%;
        height: 0;
        background: url('../images/gradient-circle.png');
        background-size: contain;
        pointer-events: none;
    }

    .gradient-circle-white{
        width: 70%;
        height: 0;
        padding-top: 70%;
        background: url('../images/gradient-circle-white.png');
        background-size: contain;
        pointer-events: none;
    }
}

.page.news{
    .news-post{
        margin-bottom: $grid-gutter * 2;
        padding-bottom: $grid-gutter * 2;
        border-bottom: 1px solid theme-color(black);

        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}